body {
  font-family: sans-serif;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.card-preview {
  border: none;
  padding: 15px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.create-card-btn {
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292e;
  padding: 7px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  word-wrap: break-word;
  width: auto;
  height: auto;
}

.center-create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

.back-arrow {
    display: block;
    width: 1vw;
    height: 1vw;
    border-bottom: 5px solid teal;
    border-right: 5px solid teal;
    transform: rotate(135deg);
    margin: 10px;
}