body {
  font-family: sans-serif;
}

footer {
    position: absolute;
    margin-top: 470px;
    width:100%;
    background-color:teal;
    color: #fff;
    padding: 20px;
    opacity: 0.5;

  }
  
  footer p {
    margin: 0;
  }